/* style sheet ʕ ಡ ﹏ ಡ ʔ */

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family:'Poppins', Geneva, Tahoma, sans-serif;

}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.navbar .logo{
    color: white;
    font-weight:900;
    font-size: 20px;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .container{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    align-items: center;
    padding: 20px;
}

/* Hero section I think (ಥ _ʖಥ) */

header .container{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    color: white; 
    padding: 50px;
}
.container img{
    width: 400px;
    height: auto;
}
.mainHero{
    font-size: 48px;
    font-weight:900;

}

header .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
/*     border-style: solid; */
    max-width: 600px;
    margin-right: 100px;
}
header .button{
    color: white;
    background-color:  #3882f6;
    padding: 10px;
    font-size: 10px;
    font-weight: bolder;
    border-radius:8px;
    border-style: none;

}